<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>CTM</title>
</head>
<body>
    <div class="container">
        <h1>Setup</h1>
        <br />
        <table id="players">
            <tbody>
                <tr>
                    <th>Player</th>
                    <th>Rating</th>
                </tr>
                <tr>
                    <td>A</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>B</td>
                    <td>500</td>
                </tr>
            </tbody>
        </table>
        <br />
        <button>Add new player</button>
        <button>Pair players</button>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>